Projeto keepchat(1).json
{
  "name": "Projeto keepchat",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1280,
        208
      ],
      "id": "d04ada0a-d5f8-4fb1-ab74-4db125f9a6f2",
      "name": "Telegram Trigger",
      "webhookId": "ef4627a6-8f86-4de4-90d6-cf62878093e5",
      "credentials": {
        "telegramApi": {
          "id": "MUk5LtOrMd0dJmjP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é um assistente virtual do IBAMA, focado exclusivamente em receber denúncias de animais abandonados. Você é conversacional e guia o usuário.\n\nSua tarefa é dividida em 4 regras:\n\n1.  **SAUDAÇÃO:** Se a mensagem do usuário for uma saudação (como \"oi\", \"olá\", \"/start\") ou uma pergunta inicial, responda com uma mensagem de boas-vindas. Apresente-se e pergunte se ele deseja iniciar uma denúncia.\n    *Exemplo de resposta:* \"Olá! Sou o assistente do IBAMA para denúncias de animais abandonados. Você gostaria de registrar uma denúncia agora?\"\n\n2.  **COLETA DE DADOS:** Se o usuário confirmar que quer fazer uma denúncia (ou se a primeira mensagem já for uma denúncia), seu objetivo é COLETAR as **8 informações** a seguir. FAÇA UMA PERGUNTA DE CADA VEZ, de forma natural, sem redundância, como reescrever o que o usuário acabou de falar, até obter todas:\n    * a. Espécie do animal (cachorro, gato, etc.)\n    * b. Local (rua, bairro, cidade)\n    * c. Ponto de referência (próximo à esquina X, loja Y)\n    * d. Se o animal está em movimento ou parado\n    * e. Se o animal apresenta sinal de lesão ou machucado\n    * f. Horário do avistamento\n    * g. Se o animal tem alguma identificação (coleira, microchip)\n    * h. E-mail do denunciante\n\n3.  **REGRA CRÍTICA DE OUTPUT:** Assim que você tiver coletado A ÚLTIMA das 8 informações (o **e-mail**), sua *única* resposta deve ser o texto exato:\n    `[SHOW_MENU]`\n    *NÃO escreva \"Obrigado\". NÃO escreva \"Certo\". Escreva *apenas* e *exatamente* o código: [SHOW_MENU]*\n\n4.  **FORA DO ESCOPO:** Se o usuário falar sobre qualquer outro assunto (clima, política, etc.), responda educadamente que este canal é exclusivo para denúncias de abandono de animais e, para mais informações, ele deve acessar ibama.com.br."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -464,
        304
      ],
      "id": "394e9493-5ae1-4754-9bb3-0ad08ebcd90c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -480,
        400
      ],
      "id": "d32d5129-677b-4e02-954f-dcef975ebdb7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "kFFM1SllQxCuTel1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message?.chat.id || $json.callback_query?.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -368,
        160
      ],
      "id": "d1ec552f-cc91-44ba-9355-08e5372bfe26",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        432
      ],
      "id": "77d9a61e-8cbd-43ac-97ec-30b159ff8b88",
      "name": "Send a text message1",
      "webhookId": "2217611f-2fa0-415f-9152-e77a2663e935",
      "credentials": {
        "telegramApi": {
          "id": "MUk5LtOrMd0dJmjP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0acc2b87-8fb7-4f6e-ab3a-ba60b5e1b343",
              "leftValue": "={{ $json.output }}",
              "rightValue": "[SHOW_MENU]",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        304
      ],
      "id": "14a31a8c-1078-49ac-b870-1c97b3236019",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Obrigado, já registrei as informações principais. O que deseja fazer agora?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Encerrar atendimento",
                    "additionalFields": {
                      "callback_data": "encerrar"
                    }
                  },
                  {
                    "text": "Adicionar informações",
                    "additionalFields": {
                      "callback_data": "add_info"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        208
      ],
      "id": "8313192b-f7c8-41c6-bf91-d73a53b0d7c7",
      "name": "Send a text message",
      "webhookId": "a31ceec0-a72b-40ed-954e-0cef7cb379c6",
      "credentials": {
        "telegramApi": {
          "id": "MUk5LtOrMd0dJmjP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d4ec54b-5214-4b61-891b-318e8a9909d5",
              "leftValue": "={{ $json.callback_query != null }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        208
      ],
      "id": "5c4e06f9-260b-4698-8614-c35fd7fa1f44",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "775d85e1-69e4-4902-a127-6d9fe60b56e9",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "encerrar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        112
      ],
      "id": "a720cb1e-57b2-44de-a856-f7ef2a1791c1",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Certo. Por favor, quais informações a mais gostaria de dar?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -656,
        192
      ],
      "id": "d2d064e9-d9e2-4da8-833f-dca77519cb74",
      "name": "Send a text message3",
      "webhookId": "5e296fb7-1d8e-4d18-a625-7fc4a1119793",
      "credentials": {
        "telegramApi": {
          "id": "MUk5LtOrMd0dJmjP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -464,
        80
      ],
      "id": "cde31774-14ec-4360-b588-d542500d4caa",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "kFFM1SllQxCuTel1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "drivegabriel444@gmail.com",
        "subject": "=Nova denuncia realizada!\nProtocolo de Denúncia: {{ $('Gerar Protocolo').json.protocolo }}",
        "message": "=Olá,<br> <br> \nAcaba de ser realizada uma nova denuncia de abandono de animais na cidade de João Pessoa.<br> <br> \nO protocolo de atendimento é: <strong>{{ $('Gerar Protocolo').item.json.protocolo }}</strong>\n<br> <br> \n<strong>--- Resumo da Denúncia ---</strong><br>\n<strong>Espécie:</strong> {{ $('Code in JavaScript').item.json.especie }}\n<br>\n<strong>Local:</strong> {{ $('Code in JavaScript').item.json.local }}\n<br>\n<strong>Ponto de Referência:</strong> {{ $('Code in JavaScript').item.json.referencia }}\n<br>\n<strong>Animal em Movimento:</strong> {{ $('Code in JavaScript').item.json.movimento }}\n<br>\n<strong>Possui Lesão:</strong> {{ $('Code in JavaScript').item.json.lesao }}\n<br>\n<strong>Horário do Avistamento:</strong> {{ $('Code in JavaScript').item.json.horario }}\n<br>\n<strong>Identificação:</strong> {{ $('Code in JavaScript').item.json.identificacao }}\n<br>\n<strong>E-mail do Denunciante:</strong> {{ $('Code in JavaScript').item.json.email }}\n<br> <br> \nAtenciosamente,<br> \nEquipe IBAMA Virtual",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        144,
        -144
      ],
      "id": "8168951b-0900-402a-a66d-e7c2520f1a10",
      "name": "Send a message",
      "webhookId": "0a96f4fe-3412-4236-af31-a9630cfdf5d3",
      "credentials": {
        "gmailOAuth2": {
          "id": "hIphAtTXxOBZpTBC",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "240926e5-c519-46b2-a2fd-66f4e60d3842",
              "name": "protocolo",
              "value": "={{ 'PROTO-' + Math.floor(100000 + Math.random() * 900000) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        16
      ],
      "id": "836073a2-c174-4faa-b6b3-2cb74a4ec1f7",
      "name": "Gerar Protocolo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "gere um resumo da denuncia",
        "options": {
          "systemMessage": "Você é um assistente de extração de dados. Revise todo o histórico da conversa e retorne **APENAS um objeto JSON** contendo os dados coletados.\n\nUse exatamente este formato de chaves:\n```json\n{\n\"especie\": \"(informação coletada)\",\n\"local\": \"(informação coletada)\",\n\"referencia\": \"(informação coletada)\",\n\"movimento\": \"(informação coletada)\",\n\"lesao\": \"(informação coletada)\",\n\"horario\": \"(informação coletada)\",\n\"identificacao\": \"(informação coletada)\",\n\"email\": \"(informação coletada)\"\n}\n```\nSe alguma informação não foi coletada, retorne \"Não informado\" como valor da chave."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -464,
        -16
      ],
      "id": "1c2bd73a-4685-404d-a923-94142dd11a4b",
      "name": "Extrator"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cW2jLpB3BEVkRkvcxF9ArfI-wmKEi2pSvDAxrFAexVw",
          "mode": "list",
          "cachedResultName": "Deunucias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cW2jLpB3BEVkRkvcxF9ArfI-wmKEi2pSvDAxrFAexVw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 852161702,
          "mode": "list",
          "cachedResultName": "ajustei a credencial, mas tenho que configurar do...",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cW2jLpB3BEVkRkvcxF9ArfI-wmKEi2pSvDAxrFAexVw/edit#gid=852161702"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Protocolo": "={{ $('Gerar Protocolo').item.json.protocolo }}",
            "DataRegistro": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}",
            "Especie": "={{ $json.especie }}",
            "Local": "={{ $json.local }}",
            "Referencia": "={{ $json.referencia }}",
            "Movimento": "={{ $json.movimento }}",
            "Lesao": "={{ $json.lesao }}",
            "Horario": "={{ $json.horario }}",
            "Identificacao": "={{ $json.identificacao }}",
            "EmailDenunciante": "={{ $json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Protocolo",
              "displayName": "Protocolo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DataRegistro",
              "displayName": "DataRegistro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Especie",
              "displayName": "Especie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Local",
              "displayName": "Local",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Referencia",
              "displayName": "Referencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Movimento",
              "displayName": "Movimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lesao",
              "displayName": "Lesao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Horario",
              "displayName": "Horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Identificacao",
              "displayName": "Identificacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EmailDenunciante",
              "displayName": "EmailDenunciante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        144,
        96
      ],
      "id": "b68f21a1-b3f1-45bd-ba18-f818cab217fd",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DmDUT1bMMLcOUagK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Pega o texto bruto vindo do Extrator\nlet raw = $json.output ?? \"\";\n\n// Garante que é string e tira espaços\nraw = String(raw).trim();\n\n// Se vier entre aspas (\"...\") ou ('...'), remove\nif (\n  (raw.startsWith('\"') && raw.endsWith('\"')) ||\n  (raw.startsWith(\"'\") && raw.endsWith(\"'\"))\n) {\n  raw = raw.slice(1, -1);\n}\n\n// Agora pegamos só o trecho entre o primeiro { e o último }\nconst start = raw.indexOf(\"{\");\nconst end = raw.lastIndexOf(\"}\");\n\nif (start === -1 || end === -1) {\n  throw new Error(\"Não encontrei chaves { } no output: \" + raw);\n}\n\nraw = raw.slice(start, end + 1);\n\n// Faz o parse para objeto JS\nconst data = JSON.parse(raw);\n\n// Valores padrão se alguma chave não vier\nconst defaults = {\n  especie: \"-\",\n  local: \"-\",\n  referencia: \"-\",\n  movimento: \"-\",\n  lesao: \"-\",\n  horario: \"-\",\n  identificacao: \"-\",\n  email: \"-\",\n};\n\n// IMPORTANTE: Run Once for Each Item -> retorna UM ÚNICO objeto\nreturn {\n  json: {\n    ...defaults,\n    ...data,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -16
      ],
      "id": "5a287c43-e2c3-47f8-9769-70fd33782001",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Obrigado por registrar uma denúncia! Você está ajudando a construir uma cidade mais segura, para pessoas e animais! O protocolo do seu atendimento é: {{ $('Gerar Protocolo').json.protocolo }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        208
      ],
      "id": "2c45e1f9-bcd5-4547-b5cd-940ad57f7b4e",
      "name": "Send a text message2",
      "webhookId": "5716cbf4-d468-4c55-beeb-d44c93d420bf",
      "credentials": {
        "telegramApi": {
          "id": "MUk5LtOrMd0dJmjP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "=Obrigado por registrar uma denúncia! Você está ajudando a construir uma cidade mais segura, para pessoas e animais! O protocolo do seu atendimento é: {{ $('Gerar Protocolo').item.json.protocolo }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -576,
        -224
      ],
      "id": "04056d2c-8f05-4f9c-adcd-f686deed7805",
      "name": "Send a text message4",
      "webhookId": "5e296fb7-1d8e-4d18-a625-7fc4a1119793",
      "credentials": {
        "telegramApi": {
          "id": "MUk5LtOrMd0dJmjP",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Extrator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Gerar Protocolo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Extrator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Protocolo": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrator": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Send a text message4": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "75f6ef6a-7948-49a7-975f-4c9e8e2e1672",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "23aaa2e7a449d9762685d8098e616782b7a10b175aa7257ec5d637fefdb863a7"
  },
  "id": "I3nkvapLcy5xaMk1",
  "tags": []
}